# generated code
bin/
gen/
annotation_gen/
generated/

# vm crash logs
hs_err_pid*.log

# annotation processor log files
androidannotations.log

# developer specific settings and credentials
local.properties
private.properties

# KDE directory settings
.directory

# build system temporary files
.gradle/
build/

# ignore IDEA settings
.idea/
